.common {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  border: 1px solid #fe2c55;
  background-color: transparent;
  border-radius: 0.5rem;
  color: #fe2c55;
}
.common:hover {
  background-color: #fe2c5618;
}

.xl {
  display: block;
  padding: 1.2rem 2rem;
  width: 100%;
}
.sm {
  display: inline-block;
}
