.Filledbuttons {
  padding: 0.8rem 2.5rem;
  background-color: #fe2c55;
  border-radius: 0.5rem;
  color: white;
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.6rem;
}
.Filledbuttons:hover {
  background-color: #d42346;
  cursor: pointer;
}
